<% include include/headerindex.ejs%>

      <div class="row">
          <div class="col-lg-6 d" >
              <a href="#" class="id__cat">
                  <span style="display:none">1</span>
                  <img src="images/8-large_scene.jpg" alt="" class="c" />
                  <div class="t" > Arts de Cuir</div>
              </a>
          </div>
          <div class="col-lg-6 d" >
              <a href="#" class="id__cat"><span style="display:none">2</span> <img src="images/1-large_scene.jpg" alt=""  class="c r"/><div class="t" > Arts de Bois</div></a>
          </div>
      </div>
      <div class="row" >
          <div class="col-lg-6 d" >
              <a href="#" class="id__cat"><span style="display:none">3</span>  <img src="images/38-large_scene.jpg" alt=""  class="c" /><div class="t" >Art de Mode</div></a>
          </div>
          <div class="col-lg-6 d" >
              <a href="#" class="id__cat"><span style="display:none">4</span> <img src="images/29-large_scene.jpg" alt=""  class="c r" /><div class="t" > Arts de Poterie</div></a>
          </div>
      </div>
      <div class="row">
          <div class="d col-lg-6">
              <a href="#" class="id__cat"> <span style="display:none">5</span> <img src="images/27-large_scene.jpg" alt=""  class="c"/><div class="t" > Arts de Métal et fer forgé</div></a>
          </div>
          <div class="col-lg-6 d" >
              <a href="#" class="id__cat"><span style="display:none">6</span> <img src="images/28-large_scene.jpg" alt=""  class="c r"/><div class="t"> Arts de la table</div></a>
          </div>
      </div>



<% include include/footer.ejs%>