<% if (rusers){%>

<%}else{ %>
<form class="navbar-form navbar-right inline-form" action="/" method="post">
    <div class="form-group">
        <input type="email" class="input-sm form-control" name="email" placeholder="email">
        <input type="password" class="input-sm form-control" name="password" placeholder="mot de pass">
        <button type="submit" class="btn btn-primary btn-sm"><span class=""></span> Se connecter</button>
    </div>
</form>
<%}%>